 body {
     margin: 0;
     padding: 0;
 }
 
 .primary-button {
     background-color: var(--accent-color);
     border-radius: 6px;
     font-weight: 700;
     color: white !important;
     box-shadow: 0 0 2px var(--secondry-text-color);
     transition: 0.2s ease-out;
     padding: 6px 12px;
 }
 
 .primary-button:hover {
     background-color: var(--accent-color-dark);
 }
 
 .secodry-button {
     border: 0.5px solid var(--secondry-text-color);
     border-radius: 6px;
     font-weight: 700px;
     color: var(--primary-text-color) !important;
     padding: 6px 12px;
     transition: 0.2s ease-out;
 }
 
 .secodry-button:hover {
     border-color: var(--accent-color);
     box-shadow: 0px 0px 5px 0px;
     color: var(--accent-color) !important;
 }
 
 .secodry-button:hover {
     border-color: var(--accent-color);
     color: var(--accent-color) !important;
 }
 /* nava bar  */
 
 header {
     position: fixed;
     top: 0;
     width: 100%;
     background-color: #fff;
 }
 
 .navbar {
     display: flex;
     justify-content: space-between;
     text-align: center;
     align-items: center;
     padding: 0px 20px;
     box-shadow: 1px 0px 3px 0px;
     border-radius: 8px;
     margin: 5px;
 }
 
 .navbar ul {
     list-style-type: none;
     margin: 0;
     padding: 0;
 }
 
 .navbar li {
     display: inline-block;
     margin: 10px;
 }
 
 .navbar li a {
     color: #222;
     text-decoration: none;
     transition: 0.5s ease-out;
 }
 
 .left p {
     transition: 0.5s ease-out;
 }
 
 .left p:hover {
     color: rgb(109, 186, 236);
 }
 
 .navbar li a:hover {
     font-size: 20px;
     color: rgb(109, 186, 236);
 }